# Environment variables
.env
.env.*

# Maven
backend/target/

# Node
frontend/node_modules/
frontend/dist/

# IDE
.idea/
*.iml

# Logs
*.log
logs
*.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db